<h1><%= params[:search] %> Listings</h1>

</br>

<% if params[:category_id] %>
  <%= link_to '++ New Listing ++', new_category_listing_path, class: 'btn btn-default noBorder' %>
<% end %>

</br>

<div class="listings">
  <div class='buyingListings'>
    <%= render 'listings/buying' %>
  </div>

  <div class='sellingListings'>
    <%= render 'listings/selling' %>
  </div>
</div>
