<h1>Listing listings</h1>

</br>

<%= link_to '++ New Listing ++', new_category_listing_path %>

</br>

<div class='buyingListings'>
  <%= render 'listings/buying' %>
</div>

<div class='sellingListings'>
  <%= render 'listings/selling' %>
</div>
