<h1>New <%= @category.name %> Listing</h1>

<% if user_signed_in? %>
  <%= render 'form' %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %> to post a listing.
  </br>
<% end %>

</br>

<%= link_to 'Back', category_listings_path %>
