@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  margin-top: 60px;
  text-align: center;
  font-family: 'Inconsolata';
  -webkit-font-smoothing: antialiased;
}

.categoryButton {
  height: 58px;
  width: 212px;
  background-color: #9b59b6;
  display: table;
  table-layout: fixed;
  font-size: 20px;
  margin-top: 1px;
}

.listingButton {
  height: 58px;
  width: 112px;
  background-color: #9b59b6;
  display: table;
  table-layout: fixed;
  font-size: 20px;
  margin-top: 1px;
}

.categoryButton a {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.listingButton a {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
}

.listingListItem {
  list-style: none;
}

.listingSubmitButton {
  background-color: #f1c40f;
}

.commentSubmitButton {
  background-color: #f1c40f;
}

.container-fluid {
  background-color: transparent;
  opacity: 0.5;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.buyingListings {
  display: inline-block;
}

.sellingListings {
  display: inline-block;
}

.emailLabel {
  position: relative;
  top: 10px;
}

.navbarNonLink {
  position: relative;
  top: 16px;
}

.signInToDiscuss {
  position: relative;
  bottom: 30px;
}

.blueText {
  color: #2980b9;
}

.greenText {
  color: #27ae60;
}

.redText {
  color: #c0392b;
}

.orangeText {
  color: #f39c12;
}
