<h1>Hey, UAlbany</h1>
<h4>Find what you need</h4>

<br>

<% @categories.each do |category| %>
  <div class="categoryButton center-block">
    <%= link_to category.name, category %>
  </div>
<% end %>
